#exitBtn{
    -fx-background-image: url("/img/xicon2.png");
    -fx-background-size: 35.0px 35.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: TRANSPARENT;
}
#tbPlay{
    -fx-background-image: url("/img/playicon2.0.png");
    -fx-background-size: 63.0px 63.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: TRANSPARENT;
}
#tbOuvrir{
    -fx-background-image: url("/img/foldericon2.png");
    -fx-background-size: 65.0px 65.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: TRANSPARENT;
}
#tbScreenShot{
    -fx-background-image: url("/img/ScreenshotIcon.png");
    -fx-background-size: 60.0px 60.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: TRANSPARENT;
}
#tbReset{
    -fx-background-image: url("/img/ResetIcon.png");
    -fx-background-size: 65.0px 65.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: TRANSPARENT;
}
#tbRemove{
    -fx-background-image: url("/img/remove.png");
    -fx-background-size: 65.0px 65.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: TRANSPARENT;
}
#tbEnregistrer{
    -fx-background-image: url("/img/saveicon2.png");
    -fx-background-size: 135.0px 135.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: TRANSPARENT;
}
.toggle-button{
    -fx-background-size: 70.0px 70.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: TRANSPARENT;
    
}
.toggle-button:selected{
    -fx-background-color: #232323;
}
#btnfil{
    -fx-background-image: url("/img/Composante_fil.png");
}
#btnresistance{
    -fx-background-image: url("/img/Composante_resistance.png");
}
#btnsource{
    -fx-background-image: url("/img/source.png");
}
#btncondensateur{
    -fx-background-image: url("/img/condensateur.png");
}
#btnbobine{
    -fx-background-image: url("/img/bobine.png");
}
#btnampoule{
    -fx-background-image: url("/img/ampoule.png");
}

.jfx-tool-bar {
    -fx-background-color: #00a1ff;
}

.jfx-tab-pane {
  -fx-background-color: #333333;
  -fx-background: #333333;
  -fx-text-fill: #00a1ff;
  -fx-text-color: #00a1ff;
  -fx-prompt-text-fill: #00a1ff;

  -text-disabled: -text-disabled-dark;
  -background-disabled:rgba(255.0,255.0,255.0,0.12);
  -background-fill: -text-dark;
  
  -fx-tab-min-width:90.0px;
  -fx-tab-max-width:90.0px;
  -fx-tab-min-height:40.0px;
  -fx-tab-max-height:40.0px;
}
.jfx-tab-pane .tab-selected-line{
  -fx-background-color: #00a1ff;
}

.jfx-tab-pane  .tab-header-area  .tab-header-background {  
    -fx-background-color:  #333333;  
}  

.jfx-tab-pane .tab{
  -fx-background-color: #333333;
}
.jfx-tab-pane .tab-label{
  -fx-background-color: #333333;
  -fx-text-fill: #00a1ff;
  -fx-text-color: #00a1ff;
  -fx-font-size: 12.0px;
  -fx-font-weight: normal;
}

.jfx-button {
  -fx-background-color: #00a1ff;
}

.jfx-list-view {
	-fx-background-color: #00a1ff;
	-fx-background-insets: 0.0;
	-fx-cell-vertical-margin: 20.0;
	-fx-vertical-gap: 10.0;
	-fx-cell-vertical-gap: 10.0;
}

.jfx-list-cell {
	-fx-background-insets: 0.0;
}

.jfx-list-cell:odd {
    -fx-cell-hover-color: #002a4c;
    -fx-background-color: #008adb;
    -fx-text-fill: white;
}

.jfx-list-cell:even {
    -fx-cell-hover-color: #00d0ff;
    -fx-background-color: #26aeff;
    -fx-text-fill: white;
}

.jfx-list-cell:filled:selected:focused, .jfx-list-cell:filled:selected {
    -fx-background-color: linear-gradient(#282828 0.0%, #3a3a3a 25.0%, #636363 75.0%, #565656 100.0%);
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #002a4c;
    -fx-text-fill: white;
}
.scroll-pane{
	-fx-border-color : #00a1ff;
}
.tab{
  -fx-background: #333333;
  -fx-text-fill: -text-blue;
}
.jfx-drawer-side-pane{
  -fx-background-color: #282828;
}